{"openapi":"3.0.1","info":{"contact":{"name":"codeBeamer","url":"https://codebeamer.com"},"description":"","title":"Codebeamer swagger API","version":"3.0"},"externalDocs":{"description":"Swagger V3 Examples","url":"https://support.ptc.com/help/codebeamer/r3.2/en/codebeamer/developers_guide/11375767.html"},"servers":[{"url":"https://pp-2602121357rr.portal.ptc.io:9443/cb/api"}],"security":[{"ApiKeyAuth":[],"BasicAuth":[],"BearerAuth":[]}],"paths":{"/database/master/sync":{"get":{"operationId":"getMasterSyncTime","responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/EpochTime"}}},"description":"Sync time is fetched"},"400":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestException"}}},"description":"Bad Request"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorException"}}},"description":"Unexpected error"}},"summary":"Get the sync time of master","tags":["Database"]}},"/database/readonly/sync":{"get":{"operationId":"getReadOnlySyncTime","responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/EpochTime"}}},"description":"Sync time is fetched"},"400":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestException"}}},"description":"Bad Request"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorException"}}},"description":"Unexpected error"}},"summary":"Get the sync time of readonly","tags":["Database"]}},"/v3/associations":{"post":{"operationId":"createAssociation","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Association"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Association"}}},"description":"Created association"},"400":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestException"}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Authentication is required"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"}},"summary":"Create a new association","tags":["Association"]}},"/v3/associations/types":{"get":{"operationId":"getAvailableAssociationTypes","responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AssociationType"}}}},"description":"List of association types"},"400":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestException"}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Authentication is required"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"}},"summary":"Get available association types","tags":["Association"]}},"/v3/associations/types/{associationTypeId}":{"get":{"operationId":"getAssociationType","parameters":[{"in":"path","name":"associationTypeId","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssociationType"}}},"description":"Association type"},"400":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestException"}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Authentication is required"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Association not found"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"}},"summary":"Get association type by id","tags":["Association"]}},"/v3/associations/{associationId}":{"delete":{"operationId":"deleteAssociation","parameters":[{"in":"path","name":"associationId","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Delete association by id"},"400":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestException"}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Authentication is required"},"404":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Association not found"},"429":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"}},"summary":"Delete association","tags":["Association"]},"get":{"operationId":"getAssociation","parameters":[{"in":"path","name":"associationId","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Association"}}},"description":"Found association"},"400":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestException"}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Authentication is required"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Association not found"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"}},"summary":"Get an association by id","tags":["Association"]},"put":{"operationId":"updateAssociation","parameters":[{"in":"path","name":"associationId","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Association"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Association"}}},"description":"Updated association"},"400":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestException"}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Authentication is required"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Association not found"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"}},"summary":"Update association settings","tags":["Association"]}},"/v3/associations/{associationId}/history":{"get":{"operationId":"getAssociationHistory","parameters":[{"in":"path","name":"associationId","required":true,"schema":{"type":"integer","format":"int32"}},{"description":"Index of the result page starting from 1.","in":"query","name":"page","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"description":"Number of items in a result page. Max value: 500","in":"query","name":"pageSize","required":false,"schema":{"type":"integer","format":"int32","default":25}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ArtifactRevisionSearchResult"}}},"description":"Association history"},"400":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestException"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceUnauthorizedException"}}},"description":"Authentication is required"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Association not found"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"}},"summary":"Returns the change history of the specified association","tags":["Association"]}},"/v3/attachments/{attachmentId}":{"delete":{"operationId":"deleteAttachment","parameters":[{"in":"path","name":"attachmentId","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Attachment deleted"},"400":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestException"}}},"description":"Bad Request"},"401":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResourceUnauthorizedException"}}},"description":"Authentication is required"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Access denied"},"404":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Attachment not found"},"429":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"}},"summary":"Deletes an attachment","tags":["Attachment"]},"get":{"operationId":"getAttachment","parameters":[{"in":"path","name":"attachmentId","required":true,"schema":{"type":"integer","format":"int32"}},{"in":"query","name":"version","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Attachment"}}},"description":"Attachment by id"},"400":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestException"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceUnauthorizedException"}}},"description":"Authentication is required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Authorization is required"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Tracker / Attachment not found"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"}},"summary":"Get attachment by id","tags":["Attachment"]}},"/v3/attachments/{attachmentId}/content":{"get":{"operationId":"getAttachmentContent","parameters":[{"in":"path","name":"attachmentId","required":true,"schema":{"type":"integer","format":"int32"}},{"in":"query","name":"version","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"string","format":"binary"}},"application/octet-stream":{"schema":{"type":"string","format":"binary"}}},"description":"Attachment by id"},"400":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestException"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceUnauthorizedException"}},"application/octet-stream":{"schema":{"$ref":"#/components/schemas/ResourceUnauthorizedException"}}},"description":"Authentication is required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}},"application/octet-stream":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Authorization is required"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}},"application/octet-stream":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Tracker / Attachment not found"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}},"application/octet-stream":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"}},"summary":"Get content of an attachment by id","tags":["Attachment"]},"put":{"operationId":"updateAttachment","parameters":[{"in":"path","name":"attachmentId","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/UpdateAttachment"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Attachment"}}},"description":"Updated attachment"},"400":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestException"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceUnauthorizedException"}}},"description":"Authentication is required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Authorization is required"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Attachment not found"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorException"}}},"description":"Unexpected error"}},"summary":"Update attachment","tags":["Attachment"]}},"/v3/attachments/{attachmentId}/history":{"get":{"operationId":"getAttachmentHistory","parameters":[{"in":"path","name":"attachmentId","required":true,"schema":{"type":"integer","format":"int32"}},{"description":"Index of the result page starting from 1.","in":"query","name":"page","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"description":"Number of items in a result page. Max value: 500","in":"query","name":"pageSize","required":false,"schema":{"type":"integer","format":"int32","default":25}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ArtifactRevisionSearchResult"}}},"description":"Attachment history"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestException"}}},"description":"Bad request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceUnauthorizedException"}}},"description":"Authentication is required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Access denied"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Attachment not found"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"}},"summary":"Returns the change history of the specified attachment","tags":["Attachment"]}},"/v3/attachments/{attachmentId}/restore":{"put":{"operationId":"restoreAttachment","parameters":[{"in":"path","name":"attachmentId","required":true,"schema":{"type":"integer","format":"int32"}},{"in":"query","name":"version","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Attachment"}}},"description":"Restored attachment"},"400":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestException"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceUnauthorizedException"}}},"description":"Authentication is required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Authorization is required"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Attachment not found"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorException"}}},"description":"Unexpected error"}},"summary":"Restore attachment to previous version","tags":["Attachment"]}},"/v3/baselines":{"post":{"operationId":"createBaseline","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateBaselineRequest"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Baseline"}}},"description":"Baseline created successfully"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestException"}}},"description":"Bad request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceUnauthorizedException"}}},"description":"Authentication is required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Authentication is required or user has no permission"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Project or tracker not found"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"}},"summary":"Create a project or tracker baseline","tags":["Baseline"]}},"/v3/branches/{branchId}/item":{"get":{"description":"API can be used for finding a tracker item by a branch id","operationId":"getTrackerItemOnBranch","parameters":[{"in":"query","name":"sourceItemId","required":true,"schema":{"type":"integer","format":"int32"}},{"in":"path","name":"branchId","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrackerItem"}}},"description":"Basic tracker item by id and branch id"},"400":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestException"}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Authentication is required"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Tracker item not found"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"}},"summary":"Get tracker item on branch","tags":["Branches"]}},"/v3/deployment":{"post":{"operationId":"uploadDeployment","requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/DeploymentModel"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobReference"}}},"description":"Deployment is executed"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestException"}}},"description":"Bad request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceUnauthorizedException"}}},"description":"Authentication is required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Authentication is required"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"},"501":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotImplementedException"}}},"description":"Project Configuration Deployment is disabled"}},"summary":"Start a deployment process","tags":["Deployment"]}},"/v3/deployment/export":{"post":{"operationId":"exportForDeployment","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExportForDeploymentRequest"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobReference"}}},"description":"Export job has been scheduled successfully"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestException"}}},"description":"Bad request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceUnauthorizedException"}}},"description":"Authentication is required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Authorization is required"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"},"501":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotImplementedException"}}},"description":"Project Configuration Deployment is disabled"}},"summary":"Export projects for deployment","tags":["Deployment"]}},"/v3/export/exportToWord":{"post":{"description":"API can be used for exporting items to Word","operationId":"exportToWord","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExportToWordRequest"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobReference"}}},"description":"It returns a job reference."},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestException"}}},"description":"Invalid request"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorException"}}},"description":"Internal server error"}},"summary":"Exports items to Word","tags":["Export"]}},"/v3/export/items":{"post":{"description":"API can be used for fetching basic information of tracker items","operationId":"getTrackerItems","parameters":[{"in":"query","name":"baselineId","required":false,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrackerItemsRequest"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TrackerItem"}}}},"description":"Tracker item list"},"400":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestException"}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Authentication is required"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Tracker not found"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"}},"summary":"Get tracker items","tags":["Export"]}},"/v3/export/tracker-item-reviews":{"post":{"operationId":"batchGetTrackerItemReviews","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchGetTrackerItemReviewsRequest"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TrackerItemWithTrackerItemReviewsExport"}}}},"description":"List of tracker item reviews for each tracker item"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestException"}}},"description":"Request cannot be processed"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceUnauthorizedException"}}},"description":"Authentication is required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Tracker item reviews are disabled, or access to them is denied"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"There is no baseline accessible with the supplied ID"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"}},"summary":"Get tracker item reviews by a list of tracker item IDs","tags":["Export"]}},"/v3/items/attachments/content":{"post":{"operationId":"getTrackerItemsAttachmentContents","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrackerItemAttachmentRequest"}}},"required":true},"responses":{"200":{"content":{"application/zip":{"schema":{"type":"string","format":"binary"}}},"description":"Attachments of tracker items: each tracker item goes to a subdirectory named as item-id and this directory contains the attachment files prefixed with the attachment id like [attachment-id]_[filename]."},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestException"}},"application/zip":{"schema":{"$ref":"#/components/schemas/BadRequestException"}}},"description":"Bad request"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}},"application/zip":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Authentication is required"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}},"application/zip":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Tracker items not found"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}},"application/zip":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"}},"summary":"Get attachments of tracker items matching the extension or mime type filters","tags":["Tracker item's attachment"]}},"/v3/items/fields":{"put":{"externalDocs":{"description":"Tracker item operations","url":"https://codebeamer.com/cb/wiki/11375769"},"operationId":"bulkUpdateTrackerItemFields","parameters":[{"description":"If it's turned on the whole update will run in a single transaction.","in":"query","name":"atomic","required":false,"schema":{"type":"boolean","default":false}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UpdateTrackerItemFieldWithItemId"}}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkOperationResponse"}}},"description":"Bulk update response"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestException"}}},"description":"Request cannot be processed"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceUnauthorizedException"}}},"description":"Authentication is required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Authentication is required"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Tracker / Field not found"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorException"}}},"description":"Unexpected error"}},"summary":"Bulk update fields of a tracker item","tags":["Tracker item"]}},"/v3/items/move":{"post":{"description":"Move Tracker Items from the Source Tracker to the Target Tracker. The items are optional, if it is not provided all the Tracker Items will be moved from the Source Tracker. All the fields from the Source Tracker must be in the mapping. If you want to ignore one you set the targetField to null in the request.","operationId":"moveTrackerItems","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrackerItemMoveRequest"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobReference"}}},"description":"Background job information that is started to move the Tracker Items."},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestException"}}},"description":"Bad request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceUnauthorizedException"}}},"description":"Authentication is required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Access denied"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorException"}}},"description":"Unexpected error"}},"summary":"Move Tracker Items from the Source Tracker to the Target Tracker","tags":["Tracker Item move"]}},"/v3/items/move/field-mapping":{"get":{"operationId":"getItemMoveFieldMapping","parameters":[{"description":"The id of the source Tracker","in":"query","name":"sourceTrackerId","required":true,"schema":{"type":"integer","format":"int32"}},{"description":"The id of the target Tracker","in":"query","name":"targetTrackerId","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrackerItemFieldMappingInfo"}}},"description":"The field mapping"},"400":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestException"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceUnauthorizedException"}}},"description":"Authentication is required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Access denied"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Resource not found"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"}},"summary":"Gets the default field mapping between two trackers","tags":["Tracker Item move"]}},"/v3/items/query":{"get":{"externalDocs":{"description":"Documentation of cbQL","url":"https://support.ptc.com/help/codebeamer/r2.2/en/codebeamer/user_guide/871101.html"},"operationId":"findTrackerItems","parameters":[{"description":"Baseline on which the queery is applied.","in":"query","name":"baselineId","required":false,"schema":{"type":"integer","format":"int32"}},{"description":"Index of the result page starting from 1.","in":"query","name":"page","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"description":"Number of items in a result page. Max value: 500","in":"query","name":"pageSize","required":false,"schema":{"type":"integer","format":"int32","default":25}},{"example":"priority='Normal'","in":"query","name":"queryString","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrackerItemSearchResult"}}},"description":"List tracker items by cbQL"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestException"}}},"description":"Request cannot be processed"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Authentication is required"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"}},"summary":"Get tracker items by cbQL query string","tags":["Tracker item"]},"post":{"description":"API can be called with a complex cbQL string to find tracker items","externalDocs":{"description":"Documentation of cbQL","url":"https://support.ptc.com/help/codebeamer/r2.2/en/codebeamer/user_guide/871101.html"},"operationId":"findTrackerItemsByCbQL","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrackerItemSearchRequest"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrackerItemSearchResult"}}},"description":"List tracker items by cbQL"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestException"}}},"description":"Request cannot be processed"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Authentication is required"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"}},"summary":"Get tracker items by cbQL query string","tags":["Tracker item"]}},"/v3/items/relations":{"post":{"description":"Use this endpoint to fetch tracker items related to some specified tracker items. The relations include downstream references, upstream references, incoming associations and outgoing associations of the given items. Relations with entities that are not tracker items (e.g., trackers, projects, URLs, etc.) will not be included in the result.","operationId":"getBaselineTrackerItemsRelations","parameters":[{"in":"query","name":"baselineId","required":false,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrackerItemsRequest"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TrackerItemRelationsResult"}}}},"description":"Tracker item list"},"400":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestException"}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Authentication is required"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Tracker not found"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"}},"summary":"Get tracker items related to some tracker items","tags":["Tracker item"]}},"/v3/items/review":{"post":{"operationId":"createReviewFromTrackerItems","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReviewCreationFromTrackerItem"}}},"required":true},"responses":{"201":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReviewCreationResponse"}}},"description":"Review created successfully from tracker items"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestException"}}},"description":"Bad request, request validation error"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceUnauthorizedException"}}},"description":"Authentication is required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Resource is forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Resource is not found"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorException"}}},"description":"Unexpected error"}},"summary":"Create review by tracker items","tags":["Review Hub"]}},"/v3/items/{itemId}":{"delete":{"operationId":"deleteTrackerItem","parameters":[{"in":"path","name":"itemId","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrackerItem"}}},"description":"Basic tracker item by id"},"400":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestException"}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Authentication is required"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Tracker not found"},"423":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceLockedException"}}},"description":"Tracker item is locked"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorException"}}},"description":"Unexpected error"}},"summary":"Move tracker item to trash","tags":["Tracker item"]},"get":{"description":"API can be used for fetching basic information of a tracker item","operationId":"getTrackerItem","parameters":[{"in":"path","name":"itemId","required":true,"schema":{"type":"integer","format":"int32"}},{"in":"query","name":"version","required":false,"schema":{"type":"integer","format":"int32"}},{"in":"query","name":"baselineId","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrackerItem"}}},"description":"Basic tracker item by id"},"400":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestException"}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Authentication is required"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Tracker item not found"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"}},"summary":"Get basic tracker item","tags":["Tracker item"]},"put":{"externalDocs":{"description":"Tracker item operations","url":"https://codebeamer.com/cb/wiki/11375769"},"operationId":"updateTrackerItem","parameters":[{"in":"path","name":"itemId","required":true,"schema":{"type":"integer","format":"int32"}},{"in":"query","name":"referenceItemId","required":false,"schema":{"type":"integer","format":"int32"}},{"in":"query","name":"position","required":false,"schema":{"type":"string","enum":["BEFORE","AFTER","BELOW"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrackerItem"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrackerItem"}}},"description":"Basic tracker item by id"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestException"}}},"description":"Request cannot be processed"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Authentication is required"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Tracker / Field not found"},"423":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceLockedException"}}},"description":"Tracker item is locked"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorException"}}},"description":"Unexpected error"}},"summary":"Update tracker item","tags":["Tracker item"]}},"/v3/items/{itemId}/attachments":{"delete":{"operationId":"deleteTrackerItemAttachments","parameters":[{"in":"path","name":"itemId","required":true,"schema":{"type":"integer","format":"int32"}},{"description":"Delete attachment group or delete just the attachment and let the comment there","in":"query","name":"deleteAttachmentGroup","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"Attachments of tracker item removed"},"400":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestException"}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Authentication is required"},"404":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Tracker not found"},"423":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResourceLockedException"}}},"description":"Tracker item is locked"},"429":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"}},"summary":"Delete attachments of tracker item","tags":["Tracker item's attachment"]},"get":{"operationId":"getTrackerItemAttachments","parameters":[{"description":"Id of the tracker item","in":"path","name":"itemId","required":true,"schema":{"type":"integer","format":"int32"}},{"description":"Filter by part of the filename of the attachments","in":"query","name":"fileName","required":false,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AttachmentSearchResult"}}},"description":"Attachments of tracker item"},"400":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestException"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceUnauthorizedException"}}},"description":"Access denied"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Authentication is required"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Tracker item not found"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"}},"summary":"Get attachments of tracker item","tags":["Tracker item's attachment"]},"post":{"operationId":"uploadTrackerItemAttachment","parameters":[{"in":"path","name":"itemId","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/UploadAttachment"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Attachment"}}}},"description":"Attachment of tracker item by id"},"400":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestException"}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Authentication is required"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Tracker not found"},"423":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceLockedException"}}},"description":"Tracker item is locked"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"}},"summary":"Upload an attachment to a tracker item","tags":["Tracker item's attachment"]}},"/v3/items/{itemId}/attachments/content":{"get":{"operationId":"getTrackerItemAttachmentContents","parameters":[{"in":"path","name":"itemId","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"content":{"application/zip":{"schema":{"type":"string","format":"binary"}}},"description":"Attachments of a tracker item: contains the attachment files prefixed with the attachment id like [attachment-id]_[filename]."},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestException"}},"application/zip":{"schema":{"$ref":"#/components/schemas/BadRequestException"}}},"description":"Bad request"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}},"application/zip":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Authentication is required"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}},"application/zip":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Tracker item not found"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}},"application/zip":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"}},"summary":"Get attachments of a tracker item","tags":["Tracker item's attachment"]}},"/v3/items/{itemId}/attachments/{attachmentId}":{"delete":{"operationId":"deleteTrackerItemAttachment","parameters":[{"in":"path","name":"itemId","required":true,"schema":{"type":"integer","format":"int32"}},{"in":"path","name":"attachmentId","required":true,"schema":{"type":"integer","format":"int32"}},{"description":"Delete attachment group or delete just the attachment and let the comment there","in":"query","name":"deleteAttachmentGroup","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Attachment"}}},"description":"Attachment of tracker item by id"},"400":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestException"}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Authentication is required"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Tracker not found"},"423":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceLockedException"}}},"description":"Tracker item is locked"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"}},"summary":"Delete attachment of tracker item by id","tags":["Tracker item's attachment"]},"get":{"operationId":"getTrackerItemAttachment","parameters":[{"in":"path","name":"itemId","required":true,"schema":{"type":"integer","format":"int32"}},{"in":"path","name":"attachmentId","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Attachment"}}},"description":"Attachment of tracker item by id"},"400":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestException"}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Authentication is required"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Tracker / Attachment not found"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"}},"summary":"Get attachment of tracker item by id","tags":["Tracker item's attachment"]}},"/v3/items/{itemId}/attachments/{attachmentId}/content":{"get":{"operationId":"getTrackerItemAttachmentContent","parameters":[{"in":"path","name":"itemId","required":true,"schema":{"type":"integer","format":"int32"}},{"in":"path","name":"attachmentId","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"content":{"application/octet-stream":{"schema":{"type":"string","format":"binary"}}},"description":"Attachment of tracker item by id"},"400":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestException"}}},"description":"Bad Request"},"403":{"content":{"application/octet-stream":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Authentication is required"},"404":{"content":{"application/octet-stream":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Tracker / Attachment not found"},"429":{"content":{"application/octet-stream":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"}},"summary":"Get content of an attachment of tracker item by id","tags":["Tracker item's attachment"]},"put":{"operationId":"updateAttachmentOfTrackerItem","parameters":[{"in":"path","name":"itemId","required":true,"schema":{"type":"integer","format":"int32"}},{"in":"path","name":"attachmentId","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/UpdateAttachment"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Attachment"}}},"description":"Updated attachment"},"400":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestException"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceUnauthorizedException"}}},"description":"Authentication is required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Authorization is required"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Tracker item or attachment not found"},"423":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceLockedException"}}},"description":"Tracker item is locked"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorException"}}},"description":"Unexpected error"}},"summary":"Update content of attachment of tracker item","tags":["Tracker item's attachment"]}},"/v3/items/{itemId}/children":{"get":{"operationId":"findTrackerItemChildren","parameters":[{"in":"path","name":"itemId","required":true,"schema":{"type":"integer","format":"int32"}},{"description":"Index of the result page starting from 1.","in":"query","name":"page","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"description":"Number of items in a result page. Max value: 500","in":"query","name":"pageSize","required":false,"schema":{"type":"integer","format":"int32","default":25}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrackerItemReferenceSearchResult"}}},"description":"List child items of a tracker item ordered by ordinal"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestException"}}},"description":"Invalid request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceUnauthorizedException"}}},"description":"Permission is required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Authentication is required"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Tracker item is not found"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"}},"summary":"Get child items of a tracker item","tags":["Tracker item"]},"patch":{"operationId":"patchChildrenOfTrackerItem","parameters":[{"in":"path","name":"itemId","required":true,"schema":{"type":"integer","format":"int32"}},{"in":"query","name":"mode","required":true,"schema":{"type":"string","enum":["INSERT","REPLACE","REMOVE"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrackerItemChildReference"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrackerItemChildReference"}}},"description":"New child item reference on the requested index"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestException"}}},"description":"Invalid request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceUnauthorizedException"}}},"description":"Permission is required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Authentication is required"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Tracker item is not found"},"423":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceLockedException"}}},"description":"Tracker item is locked"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"}},"summary":"Patch the child item list of a tracker item","tags":["Tracker item"]},"post":{"operationId":"addChildToTrackerItem","parameters":[{"in":"path","name":"itemId","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrackerItemRevision"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrackerItemChildReference"}}},"description":"Child item reference with index"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestException"}}},"description":"Invalid request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceUnauthorizedException"}}},"description":"Permission is required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Authentication is required"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Tracker item is not found"},"423":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceLockedException"}}},"description":"Tracker item is locked"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"}},"summary":"Add a child item to a tracker item","tags":["Tracker item"]},"put":{"operationId":"replaceChildrenOfTrackerItem","parameters":[{"in":"path","name":"itemId","required":true,"schema":{"type":"integer","format":"int32"}},{"description":"Number of items in the result page. Max value: 500","in":"query","name":"resultPageSize","required":false,"schema":{"type":"integer","format":"int32","default":25}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateTrackerItemChildrenRequest"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrackerItemReferenceSearchResult"}}},"description":"First page of the new child list"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestException"}}},"description":"Invalid request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceUnauthorizedException"}}},"description":"Permission is required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Authentication is required"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Tracker item is not found"},"423":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceLockedException"}}},"description":"Tracker item is locked"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"}},"summary":"Replace the child item list of a tracker item","tags":["Tracker item"]}},"/v3/items/{itemId}/comments":{"delete":{"operationId":"deleteTrackerItemComments","parameters":[{"in":"path","name":"itemId","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Comments deleted"},"400":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestException"}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Authentication is required"},"404":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Tracker item not found"},"423":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResourceLockedException"}}},"description":"Tracker item is locked"},"429":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"}},"summary":"Delete comments of tracker item by item id","tags":["Tracker item's comment"]},"get":{"operationId":"getTrackerItemComments","parameters":[{"description":"Id of a tracker item","in":"path","name":"itemId","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Comment"}}}},"description":"Comments of tracker item by id"},"400":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestException"}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Authentication is required"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Tracker item not found"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"}},"summary":"Get comments of tracker item","tags":["Tracker item's comment"]},"post":{"operationId":"commentOnTrackerItem","parameters":[{"in":"path","name":"itemId","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/PostComment"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Comment"}}},"description":"Comment of tracker item by id"},"400":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestException"}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Authentication is required"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Tracker item not found"},"423":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceLockedException"}}},"description":"Tracker item is locked"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"}},"summary":"Comment on a tracker item","tags":["Tracker item's comment"]}},"/v3/items/{itemId}/comments/{commentId}":{"delete":{"operationId":"deleteTrackerItemComment","parameters":[{"in":"path","name":"itemId","required":true,"schema":{"type":"integer","format":"int32"}},{"in":"path","name":"commentId","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Comment"}}},"description":"Comment of tracker item by id"},"400":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestException"}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Authentication is required"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Tracker item not found"},"423":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceLockedException"}}},"description":"Tracker item is locked"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"}},"summary":"Delete comment of tracker item by id","tags":["Tracker item's comment"]},"get":{"operationId":"getTrackerItemComment","parameters":[{"in":"path","name":"itemId","required":true,"schema":{"type":"integer","format":"int32"}},{"in":"path","name":"commentId","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Comment"}}},"description":"Comment of tracker item by id"},"400":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestException"}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Authentication is required"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Tracker item not found"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"}},"summary":"Get comment of tracker item by id","tags":["Tracker item's comment"]},"post":{"operationId":"replyOnCommentOfTrackerItem","parameters":[{"in":"path","name":"itemId","required":true,"schema":{"type":"integer","format":"int32"}},{"in":"path","name":"commentId","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/PostComment"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Comment"}}},"description":"Comment of tracker item by id"},"400":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestException"}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Authentication is required"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Tracker not found"},"423":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceLockedException"}}},"description":"Tracker item is locked"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"}},"summary":"Reply on a comment of a tracker item","tags":["Tracker item's comment"]},"put":{"operationId":"editCommentOnTrackerItem","parameters":[{"in":"path","name":"itemId","required":true,"schema":{"type":"integer","format":"int32"}},{"in":"path","name":"commentId","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/EditComment"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Comment"}}},"description":"Edited comment"},"400":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestException"}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Authentication is required"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Tracker not found"},"423":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceLockedException"}}},"description":"Tracker item is locked"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorException"}}},"description":"Unexpected error"}},"summary":"Edit comment on a tracker item","tags":["Tracker item's comment"]}},"/v3/items/{itemId}/fields":{"get":{"externalDocs":{"description":"Tracker item operations","url":"https://codebeamer.com/cb/wiki/11375769"},"operationId":"getTrackerItemFields","parameters":[{"in":"path","name":"itemId","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrackerItemField"}}},"description":"Fields of tracker item by id"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestException"}}},"description":"Request cannot be processed"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Authentication is required"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Tracker / Item not found"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorException"}}},"description":"Unexpected error"}},"summary":"Get fields of a tracker item","tags":["Tracker item"]},"put":{"externalDocs":{"description":"Tracker item operations","url":"https://codebeamer.com/cb/wiki/11375769"},"operationId":"updateCustomFieldTrackerItem","parameters":[{"in":"path","name":"itemId","required":true,"schema":{"type":"integer","format":"int32"}},{"description":"If it's turned on HTTP 200 with empty response indicates that the update was successful.","in":"query","name":"quietMode","required":false,"schema":{"type":"boolean","default":false}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateTrackerItemField"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrackerItem"}}},"description":"Basic tracker item by id"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestException"}}},"description":"Request cannot be processed"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceUnauthorizedException"}}},"description":"Authentication is required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Authentication is required"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Tracker / Field not found"},"423":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceLockedException"}}},"description":"Tracker item is locked"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorException"}}},"description":"Unexpected error"}},"summary":"Update fields of a tracker item","tags":["Tracker item"]}},"/v3/items/{itemId}/fields/accessibility":{"get":{"operationId":"getItemAccessibility","parameters":[{"description":"Tracker item id","in":"path","name":"itemId","required":true,"schema":{"type":"integer","format":"int32"}},{"in":"query","name":"targetStatusId","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrackerItemFieldAccessibilityList"}}},"description":"Accessibility returned"},"400":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestException"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceUnauthorizedException"}}},"description":"Authentication is required"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Tracker item not found"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"}},"summary":"Get a tracker item fields accessibility","tags":["Tracker item"]}},"/v3/items/{itemId}/fields/tables/{tableFieldId}":{"put":{"operationId":"updateTableFieldTrackerItem","parameters":[{"in":"path","name":"itemId","required":true,"schema":{"type":"integer","format":"int32"}},{"in":"path","name":"tableFieldId","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateTrackerItemTableField"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrackerItem"}}},"description":"Basic tracker item by id"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestException"}}},"description":"Request cannot be processed"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Authentication is required"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Tracker / Field not found"},"423":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceLockedException"}}},"description":"Tracker item is locked"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorException"}}},"description":"Unexpected error"}},"summary":"Update table field of tracker item","tags":["Tracker item"]}},"/v3/items/{itemId}/fields/{fieldId}/options":{"get":{"operationId":"getChoiceOptions","parameters":[{"in":"path","name":"itemId","required":true,"schema":{"type":"integer","format":"int32"}},{"in":"path","name":"fieldId","required":true,"schema":{"type":"integer","format":"int32"}},{"description":"Index of the result page starting from 1.","in":"query","name":"page","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"description":"Number of items in a result page. Max value: 500","in":"query","name":"pageSize","required":false,"schema":{"type":"integer","format":"int32","default":25}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReferenceSearchResult"}}},"description":"Options"},"400":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestException"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceUnauthorizedException"}}},"description":"Authentication is required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Authentication is required"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"No option found"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"}},"summary":"Get the options of a choice field of tracker","tags":["Tracker item"]}},"/v3/items/{itemId}/history":{"get":{"description":"API can be used for fetching basic information of a tracker item","operationId":"getTrackerItemHistory","parameters":[{"in":"path","name":"itemId","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrackerItemHistory"}}},"description":"Basic tracker item by id"},"400":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestException"}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Authentication is required"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Tracker not found"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"}},"summary":"Get tracker item history","tags":["Tracker item"]}},"/v3/items/{itemId}/lock":{"delete":{"operationId":"unlockTrackerItem","parameters":[{"description":"Tracker item id","in":"path","name":"itemId","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Unlock successful"},"400":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestException"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceUnauthorizedException"}}},"description":"Authentication is required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Could not unlock"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Wiki page not found"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"}},"summary":"Unlock a tracker item","tags":["Tracker item"]},"get":{"operationId":"checkTrackerItemLock","parameters":[{"description":"Tracker item id","in":"path","name":"itemId","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LockInfo"}}},"description":"Details of the lock, or an empty response"},"400":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestException"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceUnauthorizedException"}}},"description":"Authentication is required"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Wiki page not found"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"}},"summary":"Check whether a tracker item is locked, and if it is, retrieve the details of the lock","tags":["Tracker item"]},"put":{"operationId":"lockTrackerItem","parameters":[{"description":"Tracker item id","in":"path","name":"itemId","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LockRequest"}}},"required":true},"responses":{"200":{"description":"Lock acquired successfully"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestException"}}},"description":"Bad request, request validation error"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceUnauthorizedException"}}},"description":"Authentication is required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Could not acquire lock"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Wiki page not found"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"}},"summary":"Put a soft lock on a tracker item","tags":["Tracker item"]}},"/v3/items/{itemId}/oslcLink":{"get":{"description":"API can be used for fetching oslc uri of a tracker item","operationId":"getTrackerItemOslcUriDetails","parameters":[{"in":"path","name":"itemId","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"description":"fetched oslc uri successfully"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestException"}}},"description":"Digital product traceability not set for the tracker"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceUnauthorizedException"}}},"description":"Authentication is required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Authorization is required"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Tracker item not found"}},"summary":"Get oslc uri for tracker item","tags":["Tracker item"]}},"/v3/items/{itemId}/relations":{"get":{"description":"Use this endpoint to fetch tracker items related to a specified tracker item. The relations include downstream references, upstream references, incoming associations and outgoing associations of the given item. Relations with entities that are not tracker items (e.g., trackers, projects, URLs, etc.) will not be included in the result.","operationId":"getBaselineTrackerItemRelations","parameters":[{"in":"path","name":"itemId","required":true,"schema":{"type":"integer","format":"int32"}},{"in":"query","name":"baselineId","required":false,"schema":{"type":"integer","format":"int32"}},{"description":"Index of page, starting from 1.","in":"query","name":"page","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"description":"Number of items per page. Max value: 500","in":"query","name":"pageSize","required":false,"schema":{"type":"integer","format":"int32","default":500}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrackerItemRelationsResult"}}},"description":"Tracker item list"},"400":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestException"}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Authentication is required"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Tracker not found"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"}},"summary":"Get tracker items related to a tracker item","tags":["Tracker item"]}},"/v3/items/{itemId}/reviews":{"get":{"operationId":"getTrackerItemReviews","parameters":[{"in":"path","name":"itemId","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TrackerItemReview"}}}},"description":"List of tracker item reviews for the particular item"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestException"}}},"description":"Request cannot be processed"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceUnauthorizedException"}}},"description":"Authentication is required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Tracker item reviews are disabled, or access to them is denied"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Tracker item not found"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"}},"summary":"Get all Tracker Item Reviews for a particular Tracker Item","tags":["Tracker item"]}},"/v3/items/{itemId}/transitions":{"get":{"description":"API can be used for getting available transitions for a tracker item","operationId":"getTrackerItemTransitions","parameters":[{"in":"path","name":"itemId","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/WorkflowTransition"}}}},"description":"Available transitions"},"400":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestException"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceUnauthorizedException"}}},"description":"Authentication is required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Missing user permissions"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Tracker item not found"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorException"}}},"description":"Internal server error"}},"summary":"Get available transitions for a tracker item","tags":["Tracker item"]}},"/v3/job/{jobId}":{"get":{"externalDocs":{"description":"Warning: This is an experimental endpoint that might be changed or removed in future.","url":"https://codebeamer.com/cb/wiki/12077512"},"operationId":"getBackgroundJob","parameters":[{"in":"path","name":"jobId","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BackgroundJob"}}},"description":"Background Job Info"},"400":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestException"}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Authentication is required"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Job not found"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"}},"summary":"Retrieve background job information","tags":["Background job"]}},"/v3/jobs/working-set-update":{"post":{"description":"This API can be used start a Job that merges changes from the source into the target Working-Set replacing the content of the specified target trackers completely.","operationId":"updateWorkingSet","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkingSetUpdateRequest"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobReference"}}},"description":"Job has been scheduled successfully"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestException"}}},"description":"Bad request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceUnauthorizedException"}}},"description":"Authentication is required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Authorization is required"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorException"}}},"description":"Unexpected error"}},"summary":"Create background job to update working-set","tags":["Background job"]}},"/v3/jobs/working-set-update-with-transient-fields":{"post":{"description":"This API can be used start a Job that merges changes from the source supporting transient fields as well into the target Working-Set replacing the content of the specified target trackers completely.","operationId":"updateWorkingSetWithTransientFields","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkingSetUpdateWithTransientFieldsRequest"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobReference"}}},"description":"Job has been scheduled successfully"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestException"}}},"description":"Bad request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceUnauthorizedException"}}},"description":"Authentication is required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Authorization is required"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorException"}}},"description":"Unexpected error"}},"summary":"Create background job to update working-set supporting transient fields","tags":["Background job"]}},"/v3/migration/attachment":{"post":{"description":"An endpoint for migrating attachments from a preconfigured source directory.","operationId":"migrateAttachments","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AttachmentMigrationRequest"}}},"required":true},"responses":{"200":{"description":"Attachments are migrated"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestException"}}},"description":"Bad request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceUnauthorizedException"}}},"description":"Authentication is required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Access denied"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"}},"summary":"Migrate attachments","tags":["Migration"]}},"/v3/projects":{"get":{"operationId":"getProjects","responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProjectReference"}}}},"description":"Projects"},"400":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestException"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceUnauthorizedException"}}},"description":"Authentication is required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Authentication is required"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Project not found"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"}},"summary":"Get projects","tags":["Project"]}},"/v3/projects/deploy":{"post":{"description":"The configuration file needs to be uploaded to codebeamer Documents","operationId":"deployConfiguration","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeployProject"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Project"}}},"description":"Project configuration deployed"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestException"}}},"description":"Request cannot be processed"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Authentication is required"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Project or configuration file not found"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorException"}}},"description":"Error when deploying the project configuration."}},"summary":"Deploy a project configuration to a Project","tags":["Project"]}},"/v3/projects/search":{"post":{"operationId":"searchProjects","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectFilteringRequest"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectSearchResult"}}},"description":"One page of projects"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestException"}}},"description":"Bad request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceUnauthorizedException"}}},"description":"Authentication is required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Access denied"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"}},"summary":"Search projects by given criteria","tags":["Project"]}},"/v3/projects/{projectId}":{"get":{"operationId":"getProjectById","parameters":[{"in":"path","name":"projectId","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Project"}}},"description":"Project"},"400":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestException"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceUnauthorizedException"}}},"description":"Authentication is required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Authentication is required"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Project not found"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"}},"summary":"Get project","tags":["Project"]}},"/v3/projects/{projectId}/all-working-sets":{"get":{"description":"Lists all Working-Sets with minimal information for the given project.","operationId":"listAllWorkingSetsOfProject","parameters":[{"description":"The id of the project","in":"path","name":"projectId","required":true,"schema":{"type":"integer","format":"int32"}},{"description":"The result lists the deleted Working-Sets","in":"query","name":"includeDeleted","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/WorkingSetMinimal"}}}},"description":"List of top-level Working-Set"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestException"}}},"description":"Bad request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceUnauthorizedException"}}},"description":"Authentication is required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Authorization is required"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Resource not found"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorException"}}},"description":"Unexpected error"}},"summary":"Project level Working-Sets information","tags":["Working-Set"]}},"/v3/projects/{projectId}/content":{"post":{"operationId":"export","parameters":[{"in":"path","name":"projectId","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExportProject"}}},"required":true},"responses":{"200":{"content":{"application/zip":{"schema":{"type":"string","format":"binary"}}},"description":"The exported project contents in a zip file."},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestException"}},"application/zip":{"schema":{"$ref":"#/components/schemas/BadRequestException"}}},"description":"Bad request"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}},"application/zip":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Authentication is required"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}},"application/zip":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Project not found"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}},"application/zip":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorException"}},"application/zip":{"schema":{"$ref":"#/components/schemas/InternalServerErrorException"}}},"description":"Error during the project export"}},"summary":"Exports the specified project to a zip file","tags":["Export"]}},"/v3/projects/{projectId}/members":{"get":{"operationId":"getMembersOfProject","parameters":[{"in":"path","name":"projectId","required":true,"schema":{"type":"integer","format":"int32"}},{"description":"Index of the result page starting from 1.","in":"query","name":"page","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"description":"Number of items in a result page. Max value: 500","in":"query","name":"pageSize","required":false,"schema":{"type":"integer","format":"int32","default":25}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberReferenceSearchResult"}}},"description":"Member by id"},"400":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestException"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceUnauthorizedException"}}},"description":"Authentication is required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Authentication is required"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Project is not found"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"}},"summary":"Get all members of a project","tags":["Project"]}},"/v3/projects/{projectId}/members/{userId}/permissions":{"get":{"operationId":"getProjectRolesOfMember","parameters":[{"in":"path","name":"projectId","required":true,"schema":{"type":"integer","format":"int32"}},{"in":"path","name":"userId","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectMemberPermissions"}}},"description":"Roles"},"400":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestException"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceUnauthorizedException"}}},"description":"Authentication is required"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Project or User is not found / User is not a member of the project"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"}},"summary":"Get all roles the user has on a project","tags":["Project"]}},"/v3/projects/{projectId}/trackers":{"get":{"operationId":"getTrackers","parameters":[{"in":"path","name":"projectId","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TrackerReference"}}}},"description":"Trackers"},"400":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestException"}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Authentication is required"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Project / Tracker not found"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"}},"summary":"Get trackers","tags":["Project"]},"post":{"operationId":"createTracker","parameters":[{"in":"path","name":"projectId","required":true,"schema":{"type":"integer","format":"int32"}},{"description":"Identifier of the template tracker.","in":"query","name":"templateId","required":false,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Tracker"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Tracker"}}},"description":"Tracker settings"},"400":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestException"}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Authentication is required / Bad request: Tracker settings validation failed."},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Tracker not found"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"}},"summary":"Create a tracker","tags":["Project"]}},"/v3/projects/{projectId}/trackers/search":{"post":{"operationId":"searchAllTrackersInProject","parameters":[{"in":"path","name":"projectId","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrackerFilteringRequest"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrackerSearchResult"}}},"description":"Trackers"},"400":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestException"}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceForbiddenException"}}},"description":"Authentication is required"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundException"}}},"description":"Project / Tracker not found"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsException"}}},"description":"Too many requests"}},"summary":"Get the list of all trackers in a project","tags":["Project"]}},"/v3/projects/{projectId}/wiki2html":{"post":{"operationId":"renderWikiMarkup","parameters":[{"in":"path","name":"projectId","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WikiRenderRequest"}}},"required":true},"responses":{"200":{"content":{"
[...]
